<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Tabs>  
			<version>1.1.0</version>  
		</Ves_Tabs>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_Tabs>
					<files>
						<default>Ves_Tabs.csv</default>
					</files>
				</Ves_Tabs>
			</modules>
		</translate>
		<layout>
			<updates>
				<tabs module="ves_tabs">
					<file>ves_tabs.xml</file>
				</tabs>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_tabs>
                <class>Ves_Tabs_Block</class>
            </ves_tabs>
        </blocks>
        <models>
            <ves_tabs>
                <class>Ves_Tabs_Model</class>
                <resourceModel>ves_tabs_mysql4</resourceModel>
            </ves_tabs>
        </models>
        <helpers>
            <ves_tabs>
                <class>Ves_Tabs_Helper</class>
            </ves_tabs>
        </helpers>
        <resources>
            <ves_tabs_setup>
                <setup>
                    <module>Ves_Tabs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_tabs_setup>
            <ves_tabs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_tabs_write>
            <ves_tabs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_tabs_read>
        </resources>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<ves_tabs_observer>
						<type>singleton</type>
						<class>Ves_Tabs_Model_Observer</class>
						<method>beforeRender</method>
					</ves_tabs_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</global>  
	<admin>
        <routers>
            <tabs>
                <use>admin</use>
                <args>
                    <module>Ves_Tabs</module>
                    <frontName>Tabs</frontName>
                </args>
            </tabs>
        </routers>
    </admin>
	<adminhtml>
        <translate>
			<modules>
				<Ves_Tabs>
					<files>
						<default>Ves_Tabs.csv</default>
					</files>
				</Ves_Tabs>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <ves_tabs>
            <ves_tabs>
                <show>1</show>                
                <title>Lof Tabs</title>
                <cmsblock>0</cmsblock>
                <pretext><![CDATA[ Lorem ipsum dolor sit amet consectetur adipiscing elit non tempor dignissim, velit leo  ante condimentum lorem odio cipit ultrices elit]]></pretext>
				<desc_maxchar>100</desc_maxchar>	               
				<limit_item>12</limit_item>
				<itemsrow>4</itemsrow>
				<itemspage>4</itemspage>
				<image_width>300</image_width>
                <image_height>300</image_height>
                <swap_image_number>0</swap_image_number>
                <popup_quickview_width>60%</popup_quickview_width>
                <popup_quickview_height>80%</popup_quickview_height>		
			</ves_tabs>			

			<catalog_source_setting>
				<sourceProductsMode>latest</sourceProductsMode> 
				<catsid>4</catsid>			
			</catalog_source_setting>
            <main_slider>               
				<thumbnailMode>1</thumbnailMode>
				<thumbWidth>400</thumbWidth>
				<thumbHeight>400</thumbHeight>
				<show_tab_icon>0</show_tab_icon>
				<icon_width>50</icon_width>
				<icon_height>50</icon_height>					
				<show_des>1</show_des>
				<show_price>1</show_price>
				<show_title>1</show_title>
				<show_img>1</show_img>
				<show_wc>1</show_wc>
				<show_btn>1</show_btn>
				<enable_quickview>0</enable_quickview>
				<enable_swap>0</enable_swap>
				<enable_sale_icon>1</enable_sale_icon>
				<enable_new_icon>1</enable_new_icon>
            </main_slider>

        </ves_tabs>
    </default>
</config>  