<?xml version="1.0"?>
<config>
    <modules>
        <Geissweb_Euvatgrouper>
            <version>1.5.4</version>
        </Geissweb_Euvatgrouper>
    </modules>
    <global>
        <models>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Model</class>
            </euvatgrouper>
        </models>
        <blocks>
            <customer>
                <rewrite>
                    <widget_taxvat>Geissweb_Euvatgrouper_Block_Widget_Taxvat</widget_taxvat>
                </rewrite>
            </customer>
            <adminhtml>
                <rewrite>
                    <customer_edit_tab_addresses>Geissweb_Euvatgrouper_Block_Adminhtml_Customer_Edit_Tab_Vat</customer_edit_tab_addresses>
                </rewrite>
            </adminhtml>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Block</class>
            </euvatgrouper>
        </blocks>
        <helpers>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Helper</class>
            </euvatgrouper>
        </helpers>
        <template>
            <email>
                <euvatgrouper_vat_settings_mail_template translate="label" module="euvatgrouper">
                    <label>EU VAT validation results</label>
                    <file>geissweb_vat_validation.html</file>
                    <type>html</type>
                </euvatgrouper_vat_settings_mail_template>
            </email>
        </template>
        <resources>
            <euvatgrouper_setup>
                <setup>
                    <module>Geissweb_Euvatgrouper</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </euvatgrouper_setup>
            <euvatgrouper_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </euvatgrouper_write>
            <euvatgrouper_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </euvatgrouper_read>
        </resources>
        <events>
            <customer_login>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>customer_login</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_login>
            <customer_save_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>customer_save_before</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_save_before>
            <vat_check_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>vat_check_after</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </vat_check_after>
            <vat_check_success_email>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>send_success_mail</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </vat_check_success_email>
            <tax_rate_data_fetch>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>tax_rate_data_fetch</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </tax_rate_data_fetch>
            <sales_convert_quote_to_order>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>sales_convert_quote_to_order</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_convert_quote_to_order>
            <core_copy_fieldset_sales_convert_order_to_invoice>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_sales_convert_order_to_invoice</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </core_copy_fieldset_sales_convert_order_to_invoice>
            <adminhtml_customer_save_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>adminhtml_customer_save_after</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </adminhtml_customer_save_after>
            <sales_quote_address_collect_totals_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>sales_quote_address_collect_totals_before</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_quote_address_collect_totals_before>
            <customer_logout>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>customer_logout</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_logout>
            <sales_order_place_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>sales_order_place_after</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <geissweb_notification>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_check_for_updates</method>
                    </geissweb_notification>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <euvatgrouper>
                <use>standard</use>
                <args>
                    <module>Geissweb_Euvatgrouper</module>
                    <frontName>vatcheck</frontName>
                </args>
            </euvatgrouper>
        </routers>
        <translate>
            <modules>
                <euvatgrouper>
                    <files>
                        <default>Geissweb_Euvatgrouper.csv</default>
                    </files>
                </euvatgrouper>
            </modules>
        </translate>
        <layout>
            <updates>
                <geissweb_euvatgrouper>
                    <file>euvatgrouper.xml</file>
                </geissweb_euvatgrouper>
            </updates>
        </layout>
    </frontend>
    <default>
        <euvatgrouper>
            <extension_info>
                <debug_mode>0</debug_mode>
                <osc_integration/>
            </extension_info>
            <vat_settings>
                <validate_vatid>0</validate_vatid>
            </vat_settings>
        </euvatgrouper>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <euvatgrouper translate="title" module="euvatgrouper">
                                            <title>euvatgrouper</title>
                                            <sort_order>110</sort_order>
                                        </euvatgrouper>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <euvatgrouper>
                    <files>
                        <default>Geissweb_Euvatgrouper.csv</default>
                    </files>
                </euvatgrouper>
            </modules>
        </translate>
        <!--
        <layout>
            <updates>
                <euvatgrouper>
                    <file>euvatgrouper.xml</file>
                </euvatgrouper>
            </updates>
        </layout>
        -->
    </adminhtml>
</config>
