.vescol-lg-5 {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 20% !important;
}
input[type="radio"], input[type="checkbox"] {
	 border: none;
}
.currency ul, .form-language ul,
.navbar-nav > li > .dropdown-menu {
	display: none;visibility: visible; 
}

.currency.open ul, .form-language.open ul,
.navbar-nav > li:hover > .dropdown-menu{
    visibility: visible;
	display: block; 
}
.product-collateral,
.product-essential,
#content,
#products-grid,
.block {
	 border: 1px solid #e8e8e8;
}
.block.no-boxshadown {
	background: none;
}
.catalog-category-view #content, .cms-index-index #content, .catalog-product-view #content, .catalogsearch-result-index #content,
#footer .block {
	border: none;
}
